/MvcCookieAuthSample/MvcClient/bin
/MvcCookieAuthSample/MvcClient/obj
/MvcCookieAuthSample/MvcClient/Properties
/MvcCookieAuthSample/MvcCookieAuthSample/Properties
/MvcCookieAuthSample/MvcCookieAuthSample/bin
/MvcCookieAuthSample/MvcCookieAuthSample/obj
/MvcIdentityServerSample/MvcClient/Properties
/MvcIdentityServerSample/MvcClient/bin
/MvcIdentityServerSample/MvcClient/obj
/MvcIdentityServerSample/MvcIdentityServerSample/obj
/MvcIdentityServerSample/MvcClient/wwwroot/css
/MvcIdentityServerSample/MvcClient/wwwroot/images
/MvcIdentityServerSample/MvcClient/wwwroot/js
/MvcIdentityServerSample/MvcClient/wwwroot/lib
/MvcIdentityServerSample/MvcClient/wwwroot/favicon.ico
/MvcIdentityServerSample/MvcIdentityServerSample/.vscode
/MvcIdentityServerSample/MvcIdentityServerSample/bin
/MvcIdentityServerSample/MvcIdentityServerSample/Properties
/MvcIdentityServerSample/MvcIdentityServerSample/wwwroot/css
/MvcIdentityServerSample/MvcIdentityServerSample/wwwroot/images
/MvcIdentityServerSample/MvcIdentityServerSample/wwwroot/js
/MvcIdentityServerSample/MvcIdentityServerSample/wwwroot/lib
/MvcIdentityServerSample/MvcIdentityServerSample/wwwroot/favicon.ico
/MvcCookieAuthSample/MvcClient/wwwroot/css
/MvcCookieAuthSample/MvcClient/wwwroot/images
/MvcCookieAuthSample/MvcClient/wwwroot/js
/MvcCookieAuthSample/MvcClient/wwwroot/lib
/MvcCookieAuthSample/MvcClient/wwwroot/favicon.ico
/MvcCookieAuthSample/MvcCookieAuthSample/Properties/launchSettings.json
/MvcCookieAuthSample/MvcCookieAuthSample/obj/Debug/netcoreapp2.0/MvcCookieAuthSample.AssemblyInfo.cs
/MvcCookieAuthSample/MvcCookieAuthSample/obj/Debug/netcoreapp2.0/MvcCookieAuthSample.AssemblyInfoInputs.cache
/MvcCookieAuthSample/MvcCookieAuthSample/obj/Debug/netcoreapp2.0/MvcCookieAuthSample.csproj.CoreCompileInputs.cache
